<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.arjanvlek.oxygenupdater">

	<!-- Networking permissions for fetching update data -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Download permissions -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<!-- Push notification permissions -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<!-- Update installation permissions -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

	<!-- In-App Billing permission -->
	<uses-permission android:name="com.android.vending.BILLING" />

	<application
		android:name=".OxygenUpdater"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:label="${appName}"
		android:requestLegacyExternalStorage="true"
		android:supportsRtl="true"
		android:theme="@style/Theme.Oxygen"
		android:usesCleartextTraffic="true"
		tools:targetApi="m">
		<!-- Cleartext traffic is required to fix download errors after targeting API 28 because the Download URLs of OnePlus are not HTTPS.  -->
		<!-- Fix Google Ads crashing when app targets API 28 or up as per https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />

		<meta-data
			android:name="asset_statements"
			android:resource="@string/asset_statements" />

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />

		<!-- All screens -->
		<activity
			android:name=".activities.SplashActivity"
			android:label="${appName}"
			android:screenOrientation="portrait"
			android:theme="@style/SplashTheme.Oxygen">

			<tools:validation testUrl="https://oxygenupdater.com/inapp" />

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter
				android:autoVerify="true"
				tools:targetApi="m">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:host="oxygenupdater.com"
					android:path="/inapp"
					android:scheme="https" />
			</intent-filter>
		</activity>

		<!-- All screens -->
		<activity
			android:name=".activities.MainActivity"
			android:label="${appName}"
			android:screenOrientation="portrait" />

		<activity
			android:name=".activities.InstallActivity"
			android:label="@string/install_guide"
			android:parentActivityName=".activities.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.Oxygen.FullScreen" />

		<activity
			android:name=".activities.AboutActivity"
			android:label="@string/about"
			android:parentActivityName=".activities.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.Oxygen.FullScreen" />

		<activity
			android:name=".activities.SettingsActivity"
			android:label="@string/settings"
			android:parentActivityName=".activities.MainActivity"
			android:screenOrientation="portrait" />

		<activity
			android:name=".activities.OnboardingActivity"
			android:label="@string/onboarding"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.Oxygen.FullScreen" />

		<activity
			android:name=".activities.HelpActivity"
			android:label="@string/help"
			android:parentActivityName=".activities.MainActivity"
			android:screenOrientation="portrait" />

		<activity
			android:name=".activities.ContributorActivity"
			android:label="@string/contribute"
			android:parentActivityName=".activities.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.Oxygen.FullScreen" />

		<activity
			android:name=".activities.FAQActivity"
			android:label="@string/faq"
			android:parentActivityName=".activities.MainActivity"
			android:screenOrientation="portrait" />

		<activity
			android:name=".activities.NewsActivity"
			android:label="@string/news"
			android:parentActivityName=".activities.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.Oxygen.FullScreen" />

		<!-- File picker -->
		<activity
			android:name="com.ipaulpro.afilechooser.FileChooserActivity"
			android:enabled="true"
			android:exported="false"
			android:icon="@drawable/ic_chooser"
			android:label="@string/choose_file">
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.OPENABLE" />

				<data android:mimeType="application/zip" />
			</intent-filter>
		</activity>

		<!-- Advertisements -->
		<activity
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:theme="@android:style/Theme.Translucent" />

		<!-- Push notifications services and receiver, Package updated receiver -->
		<service
			android:name=".services.FirebaseMessagingService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<!-- Receiver to check auto update installation status at device startup -->
		<receiver android:name="com.arjanvlek.oxygenupdater.receivers.VerifyInstallationReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />

		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="@string/advertising_app_id" />

		<!-- Opt out of WebView usage statistics collection -->
		<meta-data
			android:name="android.webkit.WebView.MetricsOptOut"
			android:value="true" />

		<!--
			Set custom default icon. This is used when no icon is set for incoming notification messages.
			See README(https://goo.gl/l4GJaQ) for more
        -->
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/logo_outline" />

		<!--
			Set color used with incoming notification messages. This is used when no color is set for the incoming
			notification message. See README(https://goo.gl/6BKBk7) for more.
		-->
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:resource="@color/colorPrimary" />
	</application>
</manifest>
