<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arjanvlek.oxygenupdater">

    <!-- Networking permissions for fetching update data -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Download permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Push notification permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.arjanvlek.oxygenupdater.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.arjanvlek.oxygenupdater.permission.C2D_MESSAGE" />


    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oxygen"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- All screens -->
        <activity
            android:name=".views.MainActivity"
            android:label="@string/launcher_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.InstallGuideActivity"
            android:label="@string/install_guide"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />

            <intent-filter>
                <action android:name="updateInstallationInformationActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />

            <intent-filter>
                <action android:name="aboutActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.SetupActivity"
            android:label="@string/introduction_title"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>

        <!-- Advertisements -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Push notifications services and receiver, Package updated receiver -->

        <service
            android:name=".notifications.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <activity
            android:name=".views.FAQActivity"
            android:label="@string/faq"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" /> >
        </activity>

    </application>

</manifest>
