<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arjanvlek.oxygenupdater">

    <!-- Networking permissions for fetching update data -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Download permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <permission android:name="com.arjanvlek.oxygenupdater.permission.accessDownloadServiceRestarter"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.arjanvlek.oxygenupdater.permission.accessDownloadServiceRestarter"/>

    <!-- Push notification permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Update installation permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <!-- In-App Billing permission -->
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:name=".ApplicationData"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Oxygen">
        <!-- Cleartext traffic is required to fix download errors after targeting API 28 because the Download URLs of OnePlus are not HTTPS.  -->
        <!-- Fix Google Ads crashing when app targets API 28 or up as per https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- Disable Firebase Analytics collection and Firebase Advertising ID collection as per https://firebase.google.com/support/guides/disable-analytics-->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <!-- All screens -->
        <activity
            android:name=".views.MainActivity"
            android:label="@string/launcher_app_name"
            android:screenOrientation="portrait">
            <tools:validation testUrl="https://oxygenupdater.com/inapp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="oxygenupdater.com"
                    android:path="/inapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".installation.InstallActivity"
            android:label="@string/install_guide"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />

            <intent-filter>
                <action android:name="updateInstallationInformationActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />

            <intent-filter>
                <action android:name="aboutActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>
        <activity
            android:name=".setupwizard.SetupActivity"
            android:label="@string/setup"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>
        <activity
            android:name=".help.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>

        <activity
            android:name=".faq.FAQActivity"
            android:label="@string/faq"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>

        <activity
            android:name=".news.NewsActivity"
            android:label="@string/news"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arjanvlek.oxygenupdater.views.MainActivity" />
        </activity>


        <!-- File picker -->
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:icon="@drawable/ic_chooser"
            android:enabled="true"
            android:exported="false"
            android:label="@string/choose_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

        <!-- Advertisements -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Push notifications services and receiver, Package updated receiver -->

        <service
            android:name=".notifications.NotificationService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".notifications.NotificationInstanceIDService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Receiver to check auto update installation status at device startup -->

        <receiver android:name=".installation.automatic.VerifyInstallationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".internal.logger.LogUploadService"
            android:label="@string/log_uploader_service_name"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".installation.automatic.RootInstallLogger"
            android:label="@string/root_install_logger_service_name"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".notifications.DelayedPushNotificationDisplayer"
            android:label="@string/delayed_push_notification_displayer_service_name"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Background downloader service & receiver -->
        <service android:name=".download.DownloadService"
            android:label="@string/download_service_name"/>

        <receiver
            android:name=".download.DownloadServiceRestarter"
            android:label="Restart downloader service when app gets stopped"
            android:enabled="true"
            android:exported="true"
            android:permission="com.arjanvlek.oxygenupdater.permission.accessDownloadServiceRestarter">
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
